<h1 class="display-4 p-2">Add SubCategory</h1>

<div class="row">
  <div class="col-4">
    <%= form_with(model: @subcategory, local: true) do |form| %>

      <%= render 'errors', object: @subcategory %>

     <div class="form-group">
        <%= form.label :category_id %>
        <%= form.collection_select(:category_id, @categories, :id, :name, {}, {class: 'form-control'}) %>
      </div>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :subcategory_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>
  <div class="col-8"></div>
</div>