<h1 class="display-4 p-2"> All Orders </h1>

<a href="/orders/new" class="btn btn-outline-primary m-2">
  <i class="fa fa-plus-circle"></i> Place an Order </a>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Id</th>
      <th>Drug</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Photo</th>
      </tr>
  </thead>
  <tbody>
    <% @orders.each do |s| %>
      <tr>
        <td>
          <%= link_to order_path(s), method: :delete do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
        
        <td><%= s.id %></td>
        <td><%= s.product.name  %></td>
        <td><%= s.quantity %></td>
        <td><%= number_to_currency s.cost %></td>
         <td><%= image_tag(s.product.photo, width: 75, height: 75, class: 'img-thumbnail') if s.product.photo %></td>
        </tr>
      <% end %>
  </tbody>
</table>