<!DOCTYPE html>
<html>
  <head>
    <title>Mckdrug</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

   <body>
    <%= render 'nav' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div style="margin-bottom: 100px;">
            <%= render 'alerts' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'footer' %>
  </body>
</html>